+# Instructions
+.instructions
+
+# Environment configurations
+.DS_Store
+.vscode
+
+# dotenv environment variables file
+.env
+
 # Logs
 logs
 *.log
@@ -52,8 +62,4 @@ typings/
 *.tgz
 
 # Yarn Integrity file
-.yarn-integrity
-
-# dotenv environment variables file
-.env
-
+.yarn-integrity 
